// Put any @imports here
// See Readme for a list of supported ones

body {
  background: #000305;
  //color: #000305;
  backgound-image:url("http://www.download-free-wallpaper.com/img76/ixuvfdvtgbibhyfduusp.jpg");
}

.body{
  width: 70%;
  font-size: 87.5%; 
  clear: both;
  margin : 0 auto;
}

a{
  text-decoration: none;
  color : orange;
}

h2 a:hover{
  background-color:orange;
  color:#fff; 
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding:2%;

}

nav a{
  color:#fff;
 
}


nav a:link, nav a:visited{
  color : #fff;
  //display:inline-block; makes it jump so commented
  padding : 7px 30px 15px;
  //height: 40px;
}


.active a:link, nav a:hover, nav a:active, nav a:visited{
  background-color : orange;
  text-shadow:none;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.logo-nav img{
  width:40%;
  margin:2% 3%;
  height:auto;
}

.logo-nav nav {
  background-color : #666;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin:0 2%;
  height:40px;
  //width:100%;
}

header{
  color :orange;
}

.logo-nav nav ul{
  list-style: none;
  padding :1%;
  margin: 0 auto;

}

.logo-nav nav ul li{
  display: inline;
  padding:2%;
}

.mainContainer{
  //border:1px solid orange;
  overflow : auto;
  width :67%;
  float:left;
  margin:2%;
}
.content{
}

.top-article{
  background-color:#fff;
  padding:2%;
  line-height: 20px;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 2% 0;
}
.bottom-article{
  background-color:#fff;
  margin-top:2%;
  padding:2%;
  line-height: 20px;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.author{
  margin: 2% auto;
  color:#888;
  font-size: 70%;
  font-style: italic;
}

.asides{
  width:27%;
  margin-top:3%;
  //border:1px solid black;
  float : left;
  //margin-right:3.3%;
  
}

.top-aside{
  font-size: 87.5%;
  margin: 2.5% 0;
  background-color:#fff;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding:2%;
}
.mid-aside{
  font-size: 87.5%;
  background-color:#fff;
  margin: 2.5% 0;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding:2%;
}
.bottom-aside{
  font-size: 87.5%;
  background-color:#fff;
  margin: 2.5% 0;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding:2%;
}


.footer{
  width:97%;
  display:inline-block;
  text-align: center;
  background-color: #666;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height:40px;
  margin: 0 2%;
  font-size:87.5%;
}


// RESPONSIVE CODE

@media only screen and(min-width :150px) and (max-width : 600px){
  .body{
    width: 95%;
    font-size: 95%;
  }

  .logo-nav img{
    width:100%;
    margin: 0 auto;
  }

  nav a:link, nav a:visited{
  color : #fff;
  display :block;
  margin-top: -7px ;
  padding : 10px 45px 12px;
  //height: 40px;
}


.active a:link, nav a:hover, nav a:active, nav a:visited{
  background-color : orange;
  text-shadow:none;
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


.logo-nav nav {
  width:100%;
  
}

header{
  color :orange;
}

.logo-nav nav ul{
  list-style: none;
  padding :0%;
  margin: 0 auto;
  text-align: center;

}

.logo-nav nav ul li{
  display: block;

}




}